<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="login.css" type="text/css" rel="stylesheet" />
<title>Add a Facility to Database</title>
</head>
<body>
	<div class="Header">
		<div class="Header__section">
			<form method="GET" action="/about">
				<button class="button Header__item HeaderButton">About</button>
			</form>
			<form method="GET" action="/contact">
				<button class="button Header__item HeaderButton">Contact</button>
			</form>
		</div>
		<p style="color: white; font-size: 25px;">
			<strong>Welcome to ArTeach</strong>
		</p>
		<div class="Header__section">
			<form sec:authorize="hasRole('ROLE_ADMIN')" method="GET" action="/addrecords">
				<button class="button Header__item HeaderButton">Admin</button>
			</form>
			<form method="GET" action="/">
				<button class="button Header__item HeaderButton">Home</button>
			</form>
			<form method="GET" action="/logout">
				<button class="button Header__item HeaderButton">Log out</button>
			</form>
		</div>
	</div>
	<div id="newDisciplineContainer">
		<div id="form-container">
			<form th:action="@{/addFacilitySuccess}" method="post" style="line-height: 25%">
				<h3 id="inputevent">Add a New Facility to the Database</h3>
				<br> <br> <label id="inputevent">Facility Name</label>
				<p id="inputevent">
					<input type="text" th:field="*{facility.facilityName}" />
				</p>
				<label id="inputevent">Address </label>
				<p id="inputevent">
					<input type="text" th:field="*{facility.fAddress}" />
				</p>	
				<label id="inputevent">City </label>
				<p id="inputevent">
					<input type="text" th:field="*{facility.fCity}" />
				</p>	
				<label id="inputevent">State </label>
				<p id="inputevent">
					<input type="text" th:field="*{facility.fState}" />
				</p>	
				<label id="inputevent">Zip Code </label>
				<p id="inputevent">
					<input type="text" th:field="*{facility.fZipCode}" />
				</p>	
				<label id="inputevent">Country </label>
				<p id="inputevent">				
					<input type="text" th:field="*{facility.fCountry}" />
				</p>	
				\<label id="inputevent">Region </label>
				<p id="inputevent">
					<input type="text" th:field="*{facility.fRegion}" />
				</p>							
				<p id="inputevent">
					<input type="submit" value="Submit" /> <input type="reset"
						value="Reset" />
				</p>			
			</form>
		</div>
	</div>

</body>
</html>