<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Add New Teacher</title>
<link rel="stylesheet" type="text/css" href="login.css">
<script src="main.js"></script>
</head>
<body>
	<div class="Header">
		<div class="Header__section">
			<form method="GET" action="/about">
				<button class="button Header__item HeaderButton">About</button>
			</form>
			<form method="GET" action="/contact">
				<button class="button Header__item HeaderButton">Contact</button>
			</form>
		</div>
		<p style="color: white; font-size: 25px;">
			<strong>Welcome to ArTeach</strong>
		</p>
		<div class="Header__section">
			<form sec:authorize="hasRole('ROLE_ADMIN')" method="GET" action="/addrecords">
				<button class="button Header__item HeaderButton">Admin</button>
			</form>
			<form method="GET" action="/">
				<button class="button Header__item HeaderButton">Home</button>
			</form>
			<form method="GET" action="/logout">
				<button class="button Header__item HeaderButton">Log out</button>
			</form>
		</div>
	</div>
	<div id="newTeacherContainer">
		<div id="form-container">
			<form th:action="@{/addnewteacher}" method="post"
				style="line-height: 25%">
				<h3 id="inputevent">Become A Teacher!!</h3>
				<br> <br> <label id="inputevent">First Name</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.firstName}" />
				</p>
				<label id="inputevent">Last Name </label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.lastName}" />
				</p>
				<label id="inputevent">Address</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.tAddress}" />
				</p>
				<label id="inputevent">City</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.tCity}" />
				</p>
				<label id="inputevent">State</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.tState}" />
				</p>
				<label id="inputevent">ZipCode</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.tZipCode}" />
				</p>
				<label id="inputevent">Country</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.tCountry}" />
				</p>
				<label id="inputevent">Region</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.tRegion}" />
				</p>
				<label id="inputevent">Discipline</label>
				<p id="inputevent">
					<!-- 					<select> -->
					<!-- 						<option value="NONE" label="Select" th:each="${disciplineList}" /> -->
					<!-- 					</select> -->
					<select  th:name="disciplineId">
						<option th:each="disciplineList : ${disciplineList}" th:value="${disciplineList.disciplineId}" 
							th:text="${disciplineList.disciplineName}"></option>
					</select>

				</p>
				<label id="inputevent">Email</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.teacherEmail}" required />
				</p>
				<label id="inputevent">Password</label>
				<p id="inputevent">
					<input type="text" th:field="*{teacher.tPassword}" />
				</p>
				<label id="inputevent">Confirm Password</label>
				<p id="inputevent">
					<input type="text" id="password" name="vPassword"/>
				</p>
				<p id="inputevent">
					<input type="submit" value="Submit" /> <input type="reset"
						value="Reset" />
				</p>
			</form>
		</div>
	</div>

</body>
</html>